body{
    background-color: #D9AD1C;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    text-align: center;
    font-size: 35px;
}
#jugadores{
    display: grid;
    grid-template-columns: repeat(3,580px);
    grid-template-rows: 50 repeat(2,10px);
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}
p{
    font-size: 20px;
}

#dados{
    display: grid;
    grid-template-columns: repeat(3,580px);
    grid-template-rows: 160px repeat(0,630px);
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

button{
    font-size: 18px;
}
#jugar{
    font-size: 18px;
    margin: auto;
    display: flex;
    justify-content: center;
}

